$lightblue : #80ccff;
$brown : #e67300;
$teal : #0fc;

.outerBorder {
  border: 2px solid white;
  background-color: $teal;
  border-radius: 3em;
  padding: 15px 15px 15px 15px;
  margin-top: 10px;
}

.jumbotron {
  background-color: $teal;
}

.hidden {
  display: none
}

h1, .userForm {
  text-align: center;
}

img {
  padding: 30px 30px 30px 30px;
  margin-right: 20px;
  margin-top: 125px;
  border: 4px solid $brown;
  border-radius: 5em;
  margin-right: 20px;
  background-color: $lightblue;
}

body {
  background: $lightblue;
}
